.display-cookie {
  /* Set the outline (text-stroke) to white with a thickness of 2px */
  -webkit-text-stroke: 1px black;
  /* For Webkit-based browsers (e.g., Chrome, Safari) */
  font-size: 32px;
  margin-bottom: 0;
  margin-top: 5px;
  /* Set the fill color (text-fill-color) to the background color or any other desired color */
  color: #fff;
  /* Background color or any other desired color */
  font-family: 'Squada One';
}