body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* Hide any potential scrollbars */
}

/* Define a flex container for your main content */
.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header takes 25% of the screen */
.Header {
  flex: 25vh;
  text-align: center;
}

/* CookieButton takes 75% of the screen */
.CookieButton {
  flex: 50vh;
  background-color: #e0e0e0;
  text-align: center;
}

/* Both CookieDisplay and UpgradeButton takes 25% of the screen */
.display-container {
  display: grid;
  flex: 20vh;
  grid-template-columns: 1fr 1fr;
  /* Two columns of equal width */
}

/* .display-item will share the available space evenly */
.display-item {
  flex: 1;
  background-color: #b97a57;
  text-align: center;
}

.grid-item {
  border-top: 2px solid black;
  /* Add a black border to the top of the grid item */
  /* Other grid item styles */
}

